<!-- Use cases (Tabs) -->
<section class="container pt-5 pb-2 mt-3 mt-sm-4 mt-xl-5">
  <h2 class="h1 text-center pb-3 pb-lg-4">Why Choose Arrow Executive Sales?</h2>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs flex-nowrap justify-content-lg-center overflow-auto pb-2 mb-3 mb-lg-4" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link text-nowrap active" id="project-management-tab" data-bs-toggle="tab" data-bs-target="#project-management" type="button" role="tab" aria-controls="project-management" aria-selected="true">
        <i class="bx bx-star fs-lg opacity-60 me-2"></i>
        Industry Expertise
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link text-nowrap" id="remote-work-tab" data-bs-toggle="tab" data-bs-target="#remote-work" type="button" role="tab" aria-controls="remote-work" aria-selected="false">
        <i class="bx bx-briefcase-alt-2 fs-lg opacity-60 me-2"></i>
        Tailored Solutions
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link text-nowrap" id="product-release-tab" data-bs-toggle="tab" data-bs-target="#product-release" type="button" role="tab" aria-controls="product-release" aria-selected="false">
        <i class="bx bx-user-circle fs-lg opacity-60 me-2"></i>
        Exceptional Candidates
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link text-nowrap" id="campaign-planning-tab" data-bs-toggle="tab" data-bs-target="#campaign-planning" type="button" role="tab" aria-controls="campaign-planning" aria-selected="false">
        <i class="bx bx-unite fs-lg opacity-60 me-2"></i>
        Partnership Approach
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link text-nowrap" id="proven-tab" data-bs-toggle="tab" data-bs-target="#proven" type="button" role="tab" aria-controls="proven" aria-selected="false">
        <i class="bx bx-chart fs-lg opacity-60 me-2"></i>
        Proven Track Record
      </button>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content bg-secondary rounded-3 py-4">

    <!-- Project Management -->
    <div class="tab-pane fade show active" id="project-management" role="tabpanel" aria-labelledby="project-management-tab">
      <div class="row align-items-center pt-3 pt-sm-4 pt-md-0 px-3 px-sm-4 px-lg-0">
        <div class="col-lg-4 col-md-5 offset-lg-1 text-center text-md-start">
          <h3 class="mb-lg-4">Industry Expertise</h3>
          <p>Our team has deep industry knowledge across a range of sectors, including manufacturing, wholesale, building materials supply, and more. We understand the specific challenges and opportunities within each sector, enabling us to identify the best talent for your organization. You’ll be working with a 30+ year sales professionals, who’s build and managed sales teams himself so we understand your challenges in recruiting. </p>
        </div>
        <div class="col-lg-6 col-md-7 mt-md-4">
          <img src="{{site.baseurl}}/assets/img/icons/experience.svg" class="d-block my-lg-2 mx-auto me-md-0" width="295" alt="Image">
        </div>
      </div>
    </div>

    <!-- Remote Work -->
    <div class="tab-pane fade" id="remote-work" role="tabpanel" aria-labelledby="remote-work-tab">
      <div class="row align-items-center pt-3 pb-2 pb-sm-3 pt-sm-4 pt-md-0 px-3 px-sm-4 px-lg-0">
        <div class="col-lg-4 col-md-5 offset-lg-1 text-center text-md-start">
          <h3 class="mb-lg-4">Tailored Solutions</h3>
          <p>We understand that every organization has unique requirements. That's why we offer tailored solutions that meet your specific needs. Whether you require executive search, contingency recruitment, or a hybrid solution, we have the expertise to deliver results.</p>
        </div>
        <div class="col-lg-6 col-md-7 mt-md-4">
            <img src="{{site.baseurl}}/assets/img/icons/build.svg" class="d-block my-lg-2 mx-auto me-md-0" width="295" alt="Image">
        </div>
      </div>
    </div>

    <!-- Product Release -->
    <div class="tab-pane fade" id="product-release" role="tabpanel" aria-labelledby="product-release-tab">
      <div class="row align-items-center pt-3 pt-sm-4 pt-md-0 px-3 pe-sm-4 pe-md-0 ps-sm-4 ps-lg-0">
        <div class="col-lg-4 col-md-5 offset-lg-1 text-center text-md-start">
          <h3 class="mb-lg-4">Exceptional Candidates</h3>
          <p>We have an extensive network of exceptional candidates, including passive candidates who may not be actively seeking new opportunities. We use a range of sourcing strategies, including targeted advertising, referrals, and networking, to identify the best candidates for your organization.</p>
        </div>
        <div class="col-lg-6 col-md-7 mt-n3 mt-md-1">
            <img src="{{site.baseurl}}/assets/img/icons/magnify.svg" class="d-block my-lg-2 mx-auto me-md-0" width="295" alt="Image">
        </div>
      </div>
    </div>

    <!-- Campaign Planning -->
    <div class="tab-pane fade" id="campaign-planning" role="tabpanel" aria-labelledby="campaign-planning-tab">
      <div class="row align-items-center pt-3 pt-sm-4 pt-md-0 px-3 pe-sm-4 pe-md-0 ps-sm-4 ps-lg-0">
        <div class="col-lg-4 col-md-5 offset-lg-1 text-center text-md-start">
          <h3 class="mb-lg-4">Partnership Approach</h3>
          <p>Diam bibendum scelerisque vel mauris magna. Iaculis interdum tincidunt eget nibh purus. Aliquet at sit morbi nisi volutpat fermentum scelerisque. Enim tincidunt eros sodales integer sapien. Eu ullamcorper egestas odio nunc faucibus. Sapien eu nunc sed facilisi luctus ac.</p>
        </div>
        <div class="col-lg-6 col-md-7 mt-n3 mt-md-1">
            <img src="{{site.baseurl}}/assets/img/icons/link.svg" class="d-block my-lg-2 mx-auto me-md-0" width="295" alt="Image">
        </div>
      </div>
    </div>
    <!-- Proven Track Record -->
    <div class="tab-pane fade" id="proven" role="tabpanel" aria-labelledby="proven-tab">
      <div class="row align-items-center pt-3 pt-sm-4 pt-md-0 px-3 pe-sm-4 pe-md-0 ps-sm-4 ps-lg-0">
        <div class="col-lg-4 col-md-5 offset-lg-1 text-center text-md-start">
          <h3 class="mb-lg-4">Proven Track Record</h3>
          <p>We have a proven track record of delivering exceptional results for our clients. Our recruitment process is rigorous and comprehensive, ensuring that we identify the best candidates for your organization.</p>
        </div>
        <div class="col-lg-6 col-md-7 mt-n3 mt-md-1">
            <img src="{{site.baseurl}}/assets/img/icons/kpi.svg" class="d-block my-lg-2 mx-auto me-md-0" width="295" alt="Image">
        </div>
      </div>
    </div>
  </div>
</section>