<!-- Accordion: Default style -->
<section class="mt-md-0 py-5 bg-gradient-light">
  <div class="container">
    <h3 class="h2 mb-lg-4">Sales</h3>
<!-- Accordion: Alternative style -->
    <div class="accordion" id="accordionAlt">

    <!-- Item 1-->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="headingFour">
        <button class="accordion-button shadow-none rounded-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Internal Sales</button>
      </h3>
      <div class="accordion-collapse collapse show" id="collapseFour" aria-labelledby="headingFour" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">It involves selling products or services within a company to other departments and supporting external salespeople in providing high-level service. </div>
      </div>
    </div> 
    <!-- Item 2-->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="headingFive">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Inside Sales Rep</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFive" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Conducts remote sales activities, prospecting, presenting, and closing deals without in-person meetings. It can be much more cost-effective but harder to maintain relationships or see opportunities—an excellent start to breed talent for future external sales roles. </div>
      </div>
    </div> 
    <!-- Item 3-->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="headingSix">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Customer Success Manager</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapseSix" aria-labelledby="headingSix" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Ensures customer satisfaction, builds relationships, and maximises value to promote long-term success. 
        </div>
      </div>
    </div>
    <!-- Outbound-->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="headingSeven">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Outbound</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapseSeven" aria-labelledby="headingSeven" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Proactively reaches out to potential customers to generate leads and make sales.
        </div>
      </div>
    </div>

    <!-- Sales representative 7 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="7">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">Sales Representative </button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse5" aria-labelledby="7" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Promotes and sells products/services, meets targets, and provides excellent customer service. A mix of existing and new business. Quite often a starting point in sales. 
        </div>
      </div>
    </div>   
    <!-- Account manager 8 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="8">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">Account Manager</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse8" aria-labelledby="8" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Identifies customers, builds relationships, and persuades them to purchase products/services. Focus on existing customers—emphasis on relationship cultivation. 
        </div>
      </div>
    </div>
    <!-- Account Exec 9 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="9">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">Account Executive</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse9" aria-labelledby="9" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Develops relationships with key accounts to drive sales and achieve revenue goals, which can be a higher-level position.  
        </div>
      </div>
    </div>
    <!-- Sales Development Rep 10 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="10">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">Sales Development Rep</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse10" aria-labelledby="10" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Identifies and qualifies leads, initiates contact, and sets up sales opportunities for the sales team to progress through the pipeline.   
        </div>
      </div>
    </div>
    <!-- Business development rep 11 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="11">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">Business Development Rep</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse11" aria-labelledby="11" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Identifies and pursues new business opportunities and expands customer base and revenue. Motivated sales hunter focused on driving growth.   
        </div>
      </div>
    </div>
    <!-- Business development Manager 12 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="12">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">Business Development Manager</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse12" aria-labelledby="12" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Identifies opportunities, builds partnerships, and drives business growth and expansion—a sales hunter skilled in storytelling to differentiate our product from competitors.  
        </div>
      </div>
    </div>
    <!-- Architectural Specs Manager 13 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="13">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">Architectural Specs Manager</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse13" aria-labelledby="13" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Promotes and ensures products are specified and purchased on construction projects, maintaining communication to ensure compliance and prevent substitutions by builders or contractors. This is a long sales cycle and requires sound systems and processes. 
  
        </div>
      </div>
    </div>
    <!-- Sales Engineer  14 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="14">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">Sales Engineer</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse14" aria-labelledby="14" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Combines technical expertise and sales skills to provide solutions and drive sales of complex products/services. Researches develops, and modifies products to meet customers' technical requirements and needs.
        </div>
      </div>
    </div>
    <!-- National Account Manager  15 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="15">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">National Account Manager</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse15" aria-labelledby="15" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Manages and nurtures relationships with key accounts nationally, typically with a small client base of under ten but a more significant turnover. 
        </div>
      </div>
    </div>
    <!-- Key Account Manager  16 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="16">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">Key Account Manager</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse16" aria-labelledby="16" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Manages and grows relationships with strategic and high-value national accounts. Records customer requirements, oversee key account turnover, collaborates with product development, and presents new products and services. 
        </div>
      </div>
    </div>
    <!-- Sales Executive 17 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="17">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">Sales Executive</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse17" aria-labelledby="17" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Responsibility includes generating leads, closing deals, and achieving sales targets within a specific territory or industry. 
        </div>
      </div>
    </div>
    <!-- Sales Manager 18 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="18">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">Sales Manager</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse18" aria-labelledby="18" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Oversees and guides a team of sales professionals to achieve sales targets and drive business growth. Most sales managers are past sales performers, and the issue has rarely had any training — a challenging role to fill successfully. 
        </div>
      </div>
    </div>
    <!-- Sales & Marketing Manager 19 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="19">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse19" aria-expanded="false" aria-controls="collapse19">Sales & Marketing Manager</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse19" aria-labelledby="19" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">A sales and marketing manager develops revenue-driving strategies and enhances brand awareness, but the dual roles can lead to conflicting priorities, lack of specialisation, and resource allocation challenges.
        </div>
      </div>
    </div>
    <!-- Area Sales Manager 20 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="20">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse20" aria-expanded="false" aria-controls="collapse20">Sales & Marketing Manager</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse20" aria-labelledby="20" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Oversees sales activities and manages a team within a specific geographical region, customarily set to reduce travel and increase focus for their team. 
        </div>
      </div>
    </div>
    <!-- National Sales Manager 21 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="21">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse21" aria-expanded="false" aria-controls="collapse21">National Sales Manager</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse21" aria-labelledby="21" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Leads and coordinates sales efforts across multiple regions or territories nationally. Oversees sales objectives, goals, and revenue for teams and personnel. Manages regional and division managers across the country. It can involve a reasonable amount of travel. 
        </div>
      </div>
    </div>
    <!-- Head of sales  22 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="22">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">Head of Sales </button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse22" aria-labelledby="22" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Responsible for leading and managing the sales department, setting sales strategies, and driving revenue growth. Defines and implements sales strategy and develops forecasts and pricing strategies to ensure profitable sales of products or services.
        </div>
      </div>
    </div>
    <!-- Head of growth 23 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="23">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse23" aria-expanded="false" aria-controls="collapse23">Head of Growth </button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse23" aria-labelledby="23" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Responsible for leading and managing the sales department, setting sales strategies, and driving revenue growth. Defines and implements sales strategy and develops forecasts and pricing strategies to ensure profitable sales of products or services.
        </div>
      </div>
    </div>
    <!-- GM Sales 24 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="24">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse24" aria-expanded="false" aria-controls="collapse24">GM Sales </button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse24" aria-labelledby="24" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Oversees and manages overall sales operations and strategies. Gross margin, a profitability measure, compares gross profit to revenue. Gross profit is calculated by subtracting the cost of goods sold from gross sales.
      </div>
    </div>

    </div>
    <!-- Sales Director 25 -->
    <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
      <h3 class="accordion-header" id="25">
        <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse25" aria-expanded="false" aria-controls="collapse25">Sales Director</button>
      </h3>
      <div class="accordion-collapse collapse" id="collapse25" aria-labelledby="25" data-bs-parent="#accordionAlt">
        <div class="accordion-body pt-0">Responsibility includes setting sales goals, developing strategies, and leading the sales team to achieve revenue targets.
      </div>
    </div>

    </div>
    </div>
  </div>  
</section>


<!-- Accordion: Default style -->
<section class="mt-md-0 py-5 bg-gradient-light">
  <div class="container">
      <h3 class="h2 mb-lg-4">Technical/Frame and Truss </h3>
  <!-- Accordion: Alternative style -->
      <div class="accordion" id="accordionAlt2">  
      <!-- Estimator 1-->
      <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
        <h3 class="accordion-header" id="headingT1">
          <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseT1" aria-expanded="false" aria-controls="collapseT1">Estimator</button>
        </h3>
        <div class="accordion-collapse collapse" id="collapseT1" aria-labelledby="headingT1" data-bs-parent="#accordionAlt2">
          <div class="accordion-body pt-0">Estimates the costs of construction projects, including materials, labour, and other expenses
          </div>
        </div>
      </div> 
      <!-- Estimating manager 2-->
      <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
        <h3 class="accordion-header" id="headingT2">
          <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseT2" aria-expanded="false" aria-controls="collapseT2">Estimating Manager</button>
        </h3>
        <div class="accordion-collapse collapse" id="collapseT2" aria-labelledby="headingT2" data-bs-parent="#accordionAlt2">
          <div class="accordion-body pt-0">Leads project estimation process, ensuring accurate cost analysis and budgeting in construction or other industries. 
          </div>
        </div>
      </div>
      <!-- Sales estimator T3-->
      <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
        <h3 class="accordion-header" id="headingT3">
          <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseT3" aria-expanded="false" aria-controls="collapseT3">Sales Estimator</button>
        </h3>
        <div class="accordion-collapse collapse" id="collapseT3" aria-labelledby="headingT3" data-bs-parent="#accordionAlt2">
          <div class="accordion-body pt-0">Analyses data, customer requirements, and project specifications for accurate cost estimates. Collaborates with sales and production teams, and in smaller companies, may also be required to deal with clients and close sales. The crossover is challenging. 
          </div>
        </div>
      </div>
      <!-- Estimator/detailer (Frame and Truss) T4-->
      <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
        <h3 class="accordion-header" id="headingT4">
          <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseT4" aria-expanded="false" aria-controls="collapseT4">Estimator/detailer (Frame and Truss)</button>
        </h3>
        <div class="accordion-collapse collapse" id="collapseT4" aria-labelledby="headingT4" data-bs-parent="#accordionAlt2">
          <div class="accordion-body pt-0">Calculates and estimates construction project materials, dimensions, and costs for truss systems. Details jobs for production and schedules manufacturing operations.
          </div>
        </div>
      </div>       
      <!-- Operations Manager (Frame and Truss) T5 -->
      <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
        <h3 class="accordion-header" id="headingT5">
          <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseT5" aria-expanded="false" aria-controls="collapseT5">Account Manager</button>
        </h3>
        <div class="accordion-collapse collapse" id="collapseT5" aria-labelledby="headingT5" data-bs-parent="#accordionAlt2">
          <div class="accordion-body pt-0">An operations manager for frame and truss oversees the production, scheduling, and quality control of the components used in construction projects.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>