      <!-- Page content -->
      <section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <!-- Page title + Layout switcher + Search form -->
  <div class="container">
    {% include breadcrumb.html %}
  </div>
  <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
    <div class="col-lg-5 col-md-4">
      <h1 class="display-2 mb-2 mb-md-0">{{page.title}}</h1>
    </div>
  </div>

        <!-- Page title + Layout switcher + Search form -->
        <!-- <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
          <div class="col-lg-5 col-md-4">
            <h1 class="mb-2 mb-md-0">{{page.title}}</h1>
          </div>
          <div class="col-lg-7 col-md-8">
            <form class="row gy-2">
              <div class="col-lg-5 col-sm-6">
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center me-sm-4 me-3">
                    <a href="blog-list-no-sidebar.html" class="nav-link me-2 p-0">
                      <i class="bx bx-list-ul fs-4"></i>
                    </a>
                    <a href="blog-grid-no-sidebar.html" class="nav-link p-0 active">
                      <i class="bx bx-grid-alt fs-4"></i>
                    </a>
                  </div>
                  <select class="form-select">
                    <option>All categories</option>
                    <option value="processes-and-tools">Processes &amp; Tools</option>
                    <option value="startups">Startups</option>
                    <option value="digital">Digital</option>
                    <option value="strategy">Strategy</option>
                    <option value="business">Business</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-7 col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control pe-5 rounded" placeholder="Search the blog...">
                  <i class="bx bx-search position-absolute top-50 end-0 translate-middle-y me-3 zindex-5 fs-lg"></i>
                </div>
              </div>
            </form>
          </div>
        </div> -->

        <!-- Blog grid -->
        <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-md-4 gy-2">

          <!-- Item -->
          <div class="col pb-3">
            <article class="card border-0 shadow-sm h-100">
              <div class="position-relative">
                <a href="https://membrain.wistia.com/medias/eogonch9zu" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                <img src="https://source.unsplash.com/random/700×230/?Managing&orientation=landscape" class="card-img-top" style="width: 500px; height:260px; object-fit: cover" alt="Image">
              </div>
              <div class="card-body pb-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Accounts</a>
                  <span class="fs-sm text-muted">Februray 21, 2023</span>
                </div>
                <h3 class="h5 mb-0">
                  <a href="https://membrain.wistia.com/medias/eogonch9zu">Managing Key Accounts: Are Your Long-Term Clients Safe Once The Market conditions Return To Normal?</a>
                </h3>
              </div>
              <div class="card-footer py-4">
                <a href="{{site.baseurl}}/why-arrow/our-team" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                  <img src="{{site.baseurl}}/assets/img/avatar/jason-howes-avatar.png" class="rounded-circle me-3" width="48" alt="Jason Howes">
                  Jason Howes
                </a>
              </div>
            </article>
          </div>
          <!-- Item -->
          <div class="col pb-3">
            <article class="card border-0 shadow-sm h-100">
              <div class="position-relative">
                <a href="https://membrain.wistia.com/medias/eogonch9zu" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                <img src="https://source.unsplash.com/random/700×230/?Boost&orientation=landscape" class="card-img-top" style="width: 500px; height:260px; object-fit: cover" alt="Image">
              </div>
              <div class="card-body pb-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Prospecting</a>
                  <span class="fs-sm text-muted">January 15, 2023</span>
                </div>
                <h3 class="h5 mb-0">
                  <a href="https://membrain.wistia.com/medias/auokburmsc">Elevate Your Prospecting Game and Boost Your Sales Results</a>
                </h3>
              </div>
              <div class="card-footer py-4">
                <a href="{{site.baseurl}}/why-arrow/our-team" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                  <img src="{{site.baseurl}}/assets/img/avatar/jason-howes-avatar.png" class="rounded-circle me-3" width="48" alt="Jason Howes">
                  Jason Howes
                </a>
              </div>
            </article>
          </div>

        </div>

        <!-- Pagination -->
        <!-- <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center pt-md-4 pt-2">
            <li class="page-item">
              <a href="#" class="page-link">
                <i class="bx bx-chevron-left mx-n1"></i>
              </a>
            </li>
            <li class="page-item disabled d-sm-none">
              <span class="page-link text-body">2 / 4</span>
            </li>
            <li class="page-item d-none d-sm-block">
              <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item active d-none d-sm-block" aria-current="page">
              <span class="page-link">
                2
                <span class="visually-hidden">(current)</span>
              </span>
            </li>
            <li class="page-item d-none d-sm-block">
              <a href="#" class="page-link">3</a>
            </li>
            <li class="page-item d-none d-sm-block">
              <a href="#" class="page-link">4</a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link">
                <i class="bx bx-chevron-right mx-n1"></i>
              </a>
            </li>
          </ul>
        </nav> -->
      </section>