<section class="container mb-5 pb-2 pb-md-4 pb-lg-5">
        <div class="card border-0 bg-secondary p-md-5 px-sm-2 pt-4 pb-3">
          <div class="card-body mx-auto" style="max-width: 860px;">
            <h2 class="h1 mb-4 text-center">Specialist Recruitment</h2>
            <p class="mb-4 pb-3 fs-lg text-center">With a deep understanding of each industry's nuances and demands, we connect top talent with leading opportunities, ensuring unparalleled success for both candidates and employers alike.</p>

            <!-- Accordion: Alternative style -->
            <div class="accordion" id="accordion-services">

      <!-- Manufacturing -->
              <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h3 class="accordion-header" id="heading-1">
                  <button class="accordion-button fs-xl shadow-none rounded-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">Manufacturing</button>
                </h3>
                <div class="accordion-collapse collapse show" id="collapse-1" aria-labelledby="heading-1" data-bs-parent="#accordion-services">
                  <div class="accordion-body pt-0">
                    <div class="d-flex flex-md-row flex-column align-items-md-center">
                      <img src="{{site.baseurl}}/assets/img/manufacture.png" width="100" alt="Manufacturing" class="me-md-4 mb-md-0 mb-3">
                      <div class="ps-md-3">
                        <p class="mb-0">At Arrow Executive, we specialise in sourcing top-tier talent for the manufacturing sector, connecting skilled professionals with leading-edge companies poised to innovate and drive growth.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

      <!-- Wholesale -->
      <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h3 class="accordion-header" id="heading-2">
                  <button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">Wholesale</button>
                </h3>
                <div class="accordion-collapse collapse" id="collapse-2" aria-labelledby="heading-2" data-bs-parent="#accordion-services">
                  <div class="accordion-body pt-0">
                    <div class="d-flex flex-md-row flex-column align-items-md-center">
                      <img src="{{site.baseurl}}/assets/img/wholesale.png" width="100" alt="Wholesale" class="me-md-4 mb-md-0 mb-3">
                      <div class="ps-md-3">
                        <p class="mb-0">With our expertise in wholesale recruitment, Arrow Executive identifies individuals who possess the strategic vision and logistical acumen necessary to excel in this dynamic industry, ensuring optimal alignment between candidates and employers.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

      <!-- building materials -->
              <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h3 class="accordion-header" id="heading-3">
                  <button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">Building Materials</button>
                </h3>
                <div class="accordion-collapse collapse" id="collapse-3" aria-labelledby="heading-3" data-bs-parent="#accordion-services">
                  <div class="accordion-body pt-0">
                    <div class="d-flex flex-md-row flex-column align-items-md-center">
                      <img src="{{site.baseurl}}/assets/img/materials.png" width="100" alt="Building Materials" class="me-md-4 mb-md-0 mb-3">
                      <div class="ps-md-3">
                        <p class="mb-0">Arrow Executive is dedicated to building strong foundations within the building materials sector, matching candidates with roles where their expertise in materials management and construction supplies can thrive.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Construction -->
              <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h3 class="accordion-header" id="heading-4">
                  <button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">Construction</button>
                </h3>
                <div class="accordion-collapse collapse" id="collapse-4" aria-labelledby="heading-4" data-bs-parent="#accordion-services">
                  <div class="accordion-body pt-0">
                    <div class="d-flex flex-md-row flex-column align-items-md-center">
                      <img src="{{site.baseurl}}/assets/img/construction.png" width="100" alt="Construction" class="me-md-4 mb-md-0 mb-3">
                      <div class="ps-md-3">
                        <p class="mb-0">As a specialist recruiter in the construction sector, Arrow Executive understands the complexities of this field and excels in placing professionals who can navigate intricate projects with finesse, delivering results that exceed expectations.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Hire and Rental -->
              <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h3 class="accordion-header" id="heading-5">
                  <button class="accordion-button fs-xl shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="true" aria-controls="collapse-5">Hire and Rental</button>
                </h3>
                <div class="accordion-collapse collapse" id="collapse-5" aria-labelledby="heading-5" data-bs-parent="#accordion-services">
                  <div class="accordion-body pt-0">
                    <div class="d-flex flex-md-row flex-column align-items-md-center">
                      <img src="{{site.baseurl}}/assets/img/hiring.png" width="100" alt="Hire and Rental" class="me-md-4 mb-md-0 mb-3">
                      <div class="ps-md-3">
                        <p class="mb-0">Within the hire and rental sector, Arrow Executive stands out as a trusted partner, leveraging our deep industry knowledge to connect businesses with talent equipped to manage inventory, logistics, and customer relations effectively.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>