<section class="container my-5 py-lg-5 py-md-4 py-3">
        <div class="row gy-4 py-xl-3">
          <div class="col-md-6">
            <img src="{{site.baseurl}}/assets/img/omg/{{page.feature-img-1}}" alt="Image"  class="rounded-3 px-3 py-3 shadow">
          </div>
          <div class="col-lg-5 col-md-6 offset-lg-1 d-flex">
            <div class="align-self-center ps-lg-0 ps-md-4">
              <h2 class="h1 mb-lg-4 mb-3">{{page.feature-heading-1}}</h2>
              <p class="mb-4 pb-lg-3 fs-lg">{{page.feature-txt-1}}</p>
              <a href="https://arrowexec.membrain.com/meet/jasonhowes" target="_blank" class="btn btn-lg btn-dark w-100 w-sm-auto">
                Contact us to receive a Sample Candidate Report
                <i class="bx bx-down-arrow-alt lead ms-2 me-n1"></i>
              </a>
            </div>
          </div>
        </div>
      </section>