<section class="vh-80 d-flex align-items-center bg-dark">
<div class="container col-xxl-10 ">
  <div class="row flex-lg-row-reverse align-items-center flex-lg-nowrap">
    <div class="col offset-md-1">
      <iframe class="youtube-video" src=https://www.youtube.com/embed/7LY42Sm1rec title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-lg-5 text-center text-lg-start">
        <h1 class="fs-xl text-uppercase text-primary">sales training and recruitment</h1>
      <h1 class="display-3 fw-bold lh-1 mb-3 pt-md-5 mt-xl-3 text-light">Learn to recruit like an expert <span class="text-gradient-primary">with a Sales Talent Acquisition Routine</span></h1>
      <!-- <p class="lead">We partner with B2B companies to transform your sales culture.</p> -->
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/contact" class="btn btn-primary btn-lg">Ready to win more sales?</a>
      </div>
    </div>
  </div>
</div>
</section>