<section class="py-5">
  <div class="container">
    <div class="row py-5 text-center justify-content-center align-items-center">
      <div class=" col-xl-12">
        <h1 class="display-5">We specialise in 5 main sectors</h1>
      </div>
    </div>
    <div class="row mb-4 justify-content-center">
      <!-- Manufacturing -->
      <div class="col-md-4 mb-4 d-flex">
        <div class="swiper-slide">
          <a href="#" class="card-portfolio position-relative d-block rounded-3 overflow-hidden">
            <span class="position-absolute top-0 start-0 w-100 h-100 zindex-1" style="background: linear-gradient(180deg, rgba(17, 24, 39, 0.00) 35.56%, #111827 95.3%);"></span>
            <div class="position-absolute bottom-0 w-100 zindex-2 p-4">
              <div class="px-md-3">
                <h3 class="h4 text-white mb-0">Manufacturing</h3>
                <!-- <div class="card-portfolio-meta d-flex align-items-center justify-content-between">
                  <span class="text-white fs-xs text-truncate opacity-70 pe-3">Order processing, price suggestions, user research</span>
                  <i class="bx bx-right-arrow-circle fs-3 text-gradient-primary"></i>
                </div> -->
              </div>
            </div>
            <div class="card-img">
              <img src="assets/img/manufacture.jpg" alt="Ecommerce">
            </div>
          </a>
        </div>
      </div>
      <!-- Wholesale -->
      <div class="col-md-4 d-flex">
        <div class="swiper-slide">
          <a href="#" class="card-portfolio position-relative d-block rounded-3 overflow-hidden">
            <span class="position-absolute top-0 start-0 w-100 h-100 zindex-1" style="background: linear-gradient(180deg, rgba(17, 24, 39, 0.00) 35.56%, #111827 95.3%);"></span>
            <div class="position-absolute bottom-0 w-100 zindex-2 p-4">
              <div class="px-md-3">
                <h3 class="h4 text-white mb-0">Wholesale</h3>
                <!-- <div class="card-portfolio-meta d-flex align-items-center justify-content-between">
                  <span class="text-white fs-xs text-truncate opacity-70 pe-3">Order processing, price suggestions, user research</span>
                  <i class="bx bx-right-arrow-circle fs-3 text-gradient-primary"></i>
                </div> -->
              </div>
            </div>
            <div class="card-img">
              <img src="assets/img/marketing.jpg" alt="Ecommerce">
            </div>
          </a>
        </div>
      </div>
      <!-- building materials -->
      <div class="col-md-4 d-flex">
        <div class="swiper-slide">
          <a href="#" class="card-portfolio position-relative d-block rounded-3 overflow-hidden">
            <span class="position-absolute top-0 start-0 w-100 h-100 zindex-1" style="background: linear-gradient(180deg, rgba(17, 24, 39, 0.00) 35.56%, #111827 95.3%);"></span>
            <div class="position-absolute bottom-0 w-100 zindex-2 p-4">
              <div class="px-md-3">
                <h3 class="h4 text-white mb-0">Building Materials</h3>
                <!-- <div class="card-portfolio-meta d-flex align-items-center justify-content-between">
                  <span class="text-white fs-xs text-truncate opacity-70 pe-3">Order processing, price suggestions, user research</span>
                  <i class="bx bx-right-arrow-circle fs-3 text-gradient-primary"></i>
                </div> -->
              </div>
            </div>
            <div class="card-img">
              <img src="assets/img/materials.jpg" alt="Ecommerce">
            </div>
          </a>
        </div>
      </div>
      <!-- Construction -->
      <div class="col-md-4 d-flex">
        <div class="swiper-slide">
          <a href="#" class="card-portfolio position-relative d-block rounded-3 overflow-hidden">
            <span class="position-absolute top-0 start-0 w-100 h-100 zindex-1" style="background: linear-gradient(180deg, rgba(17, 24, 39, 0.00) 35.56%, #111827 95.3%);"></span>
            <div class="position-absolute bottom-0 w-100 zindex-2 p-4">
              <div class="px-md-3">
                <h3 class="h4 text-white mb-0">Construction</h3>
                <!-- <div class="card-portfolio-meta d-flex align-items-center justify-content-between">
                  <span class="text-white fs-xs text-truncate opacity-70 pe-3">Order processing, price suggestions, user research</span>
                  <i class="bx bx-right-arrow-circle fs-3 text-gradient-primary"></i>
                </div> -->
              </div>
            </div>
            <div class="card-img">
              <img src="assets/img/construction.jpg" alt="Ecommerce">
            </div>
          </a>
        </div>
      </div>
      <!-- hire and rental -->
      <div class="col-md-4 d-flex">
        <div class="swiper-slide">
          <a href="#" class="card-portfolio position-relative d-block rounded-3 overflow-hidden">
            <span class="position-absolute top-0 start-0 w-100 h-100 zindex-1" style="background: linear-gradient(180deg, rgba(17, 24, 39, 0.00) 35.56%, #111827 95.3%);"></span>
            <div class="position-absolute bottom-0 w-100 zindex-2 p-4">
              <div class="px-md-3">
                <h3 class="h4 text-white mb-0">Hire and Rental</h3>
                <!-- <div class="card-portfolio-meta d-flex align-items-center justify-content-between">
                  <span class="text-white fs-xs text-truncate opacity-70 pe-3">Order processing, price suggestions, user research</span>
                  <i class="bx bx-right-arrow-circle fs-3 text-gradient-primary"></i>
                </div> -->
              </div>
            </div>
            <div class="card-img">
              <img src="assets/img/hiring.jpg" alt="Ecommerce">
            </div>
          </a>
        </div>
      </div>


    </div>
  </div>
</section>