      <!-- About -->
      <section class="container pt-5 mt-2 mt-md-4 mt-lg-5">
        <div class="row pt-xl-3">
          <div class="col-8 text-center mx-auto pb-5">
            <h1 class="mb-4">We build high-performance sales teams that create and win new business opportunities. </h1>
            <p class="fs-lg">With 30+ years’ experience, Managing Director Jason Howes has developed national sales teams and managed top accounts, such as Bunnings, Mitre10, Natbuild and major resellers. </p>
            <p class="fs-lg pb-lg-3 mb-4">He has had overwhelming success identifying and winning new business opportunities in a variety of industries, including retail, trade, manufacturing, importing, wholesale and merchandising, exceeding $10M annually. In addition, he’s managed $100M+ sales budgets.</p>
            <a href="{{site.baseurl}}/why-arrow/our-team" class="btn btn-primary shadow-primary btn-lg">More About Us <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i></a>
          </div>

        </div>
      </section>