<section class="mt-md-0 py-5 bg-gradient-light">
    <div class="container">
        
        <h3 class="h2 mb-lg-4">Manufacturing/Industrial </h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 g-sm-3 g-lg-4 pb-md-3 pb-lg-5">
          
          
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Estimator</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Internal Sales </i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Inside Sales Rep (ISR)</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Customer Success Manager </i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Outbound</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Account manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Account Executive</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Development Rep</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Business Development Rep</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Business Development Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Architectural Specs Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> National Account Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Key Account Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Executive</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Area Sales Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> National Sales Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> GM Sales</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Director</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales & Marketing Manager</i>
            </div>
          </div>

          

        </div>

        <h3 class="h3 pt-5 mb-lg-4">Wholesale (local manufacturer or imports)</h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 g-sm-3 g-lg-4 pb-md-3 pb-lg-5">
          
          
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Estimator</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Internal Sales </i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Inside Sales Rep (ISR)</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Customer Success Manager </i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Outbound</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Account manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Account Executive</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Development Rep</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Business Development Rep</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Business Development Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Architectural Specs Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> National Account Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Key Account Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Executive</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Area Sales Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> National Sales Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> GM Sales</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Director</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales & Marketing Manager</i>
            </div>
          </div>

          

        </div>

        <h3 class="h3 pt-5 mb-lg-4">Building Materials/Trade Resellers</h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 g-sm-3 g-lg-4 pb-md-3 pb-lg-5">
          
          
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Estimator</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Internal Sales </i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Inside Sales Rep (ISR)</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Customer Success Manager </i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Outbound</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Account manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Account Executive</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Development Rep</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Business Development Rep</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Business Development Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Architectural Specs Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> National Account Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Key Account Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Executive</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Area Sales Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> National Sales Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> GM Sales</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Director</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales & Marketing Manager</i>
            </div>
          </div>

          

        </div>

        <h3 class="h3 pt-5 mb-lg-4">Frame and Truss </h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 g-sm-3 g-lg-4 pb-md-3 pb-lg-5">
          
          
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Estimator</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Internal Sales </i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Inside Sales Rep (ISR)</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Customer Success Manager </i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Outbound</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Account manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Account Executive</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Development Rep</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Business Development Rep</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Business Development Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Architectural Specs Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> National Account Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Key Account Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Executive</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Area Sales Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> National Sales Manager</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> GM Sales</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales Director</i>
            </div>
          </div>
          <!-- Item -->
          <div class="col">
            <div class="card card-body bg-light border">
                <i class="bx bx-user fs-sm me-2"> Sales & Marketing Manager</i>
            </div>
          </div>

          

        </div>



    </div>
      </section>