      <!-- Page content -->
      <section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">

        <!-- Page title + Layout switcher + Search form -->
        <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
          <div class="col-lg-5 col-md-4">
            <h1 class="mb-2 mb-md-0">Interviews</h1>
          </div>

        </div>

        <!-- Blog grid -->
        <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-md-4 gy-2">

          <!-- Interview with Kersten Gentle, CEO of FTMA Australia-->
          <div class="col pb-3">
            <article class="card border-0 shadow-sm h-100">
                <div class="position-relative">
                    <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-10"></span>
                    <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-0 w-100 h-100 zindex-2">
                      <a href="https://player.vimeo.com/video/779005939?h=73f914aa98" class="btn btn-video btn-icon bg-white stretched-link" data-bs-toggle="video" aria-label="Play video">
                        <i class="bx bx-play"></i>
                      </a>
                    </div>
                    <img src="/assets/img/articles/kersten-gentle.jpg" class="card-img-top" alt="Card image">
                </div>
              <div class="card-body pb-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Interview</a>
                  <span class="fs-sm">23 January 2023</span>
                </div>
                <h3 class="h5 mb-2">
                  Interview with Kersten Gentle, CEO of FTMA Australia
                </h3>
                <p class="fs-sm mb-2">
                  We discussed in detail the future of attracting our younger generation into the estimators/detailers career path. A new title of Timber Systems Designer creates a more precise language to attract a larger candidate pool with a bit more style.</p>
              </div>

              <!-- Play button with label -->
                <div class="d-flex align-items-center card-footer py-4">
                    <a href="https://player.vimeo.com/video/779005939?h=73f914aa98" class="btn btn-outline-dark rounded-pill" data-bs-toggle="video" aria-label="Play video">
                        Click to watch video 
                        <i class="bx bx-play"></i>
                    </a>
                </div>
            </article>
          </div>          
          <!-- Interview with Gary Walker, Belmont Timber NSW-->
          <div class="col pb-3">
            <article class="card border-0 shadow-sm h-100">
                <div class="position-relative">
                    <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-10"></span>
                    <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-0 w-100 h-100 zindex-2">
                      <a href="https://player.vimeo.com/video/747456586?h=4d77f58084" class="btn btn-video btn-icon bg-white stretched-link" data-bs-toggle="video" aria-label="Play video">
                        <i class="bx bx-play"></i>
                      </a>
                    </div>
                    <img src="/assets/img/articles/gary-walker.jpg" class="card-img-top" alt="Card image">
                </div>
              <div class="card-body pb-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Sales Coaching</a>
                  <span class="fs-sm">22 March 2022</span>
                </div>
                <h3 class="h5 mb-2">
                  Interview with Gary Walker, Belmont Timber NSW 
                </h3>
                <p class="fs-sm mb-2">I caught up with Gary Walker this week, managing director at Belmont Timber NSW. Belmont Timber is a leading supplier of engineered timber to the building industry in NSW, specialising in frame and truss, floor construction and building materials.</p>
              </div>

              <!-- Play button with label -->
                <div class="d-flex align-items-center card-footer py-4">
                    <a href="https://player.vimeo.com/video/747456586?h=4d77f58084" class="btn btn-outline-dark rounded-pill" data-bs-toggle="video" aria-label="Play video">
                        Click to watch video! 
                        <i class="bx bx-play"></i>
                    </a>
                </div>
            </article>
          </div>          

        </div>

        <!-- Pagination -->
        <!-- <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center pt-md-4 pt-2">
            <li class="page-item">
              <a href="#" class="page-link" aria-label="Previous page">
                <i class="bx bx-chevron-left mx-n1"></i>
              </a>
            </li>
            <li class="page-item disabled d-sm-none">
              <span class="page-link text-body">2 / 4</span>
            </li>
            <li class="page-item d-none d-sm-block">
              <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item active d-none d-sm-block" aria-current="page">
              <span class="page-link">
                2
                <span class="visually-hidden">(current)</span>
              </span>
            </li>
            <li class="page-item d-none d-sm-block">
              <a href="#" class="page-link">3</a>
            </li>
            <li class="page-item d-none d-sm-block">
              <a href="#" class="page-link">4</a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link" aria-label="Next page">
                <i class="bx bx-chevron-right mx-n1"></i>
              </a>
            </li>
          </ul>
        </nav> -->
      </section>

