<!-- Navbar -->
<!-- Remove "fixed-top" class to make navigation bar scrollable with the page -->



<header class="navbar navbar-expand-lg bg-light shadow-sm border border-light rounded-3 navbar-sticky">
  <div class="container px-3">
    <a href="{{site.baseurl}}/recruitment" class="navbar-brand pe-3">
      <img src="{{site.baseurl}}/assets/img/{{page.logo}}" alt="Arrow Logo">
    </a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse4" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex d-lg-none order-lg-3">
      <a href="tel:0733030845" class="nav-link px-2 ms-2">
        <i class="bx bx-mobile-alt fs-2"></i>
      </a>
      <a href="https://arrowexec.membrain.com/meet/jasonhowes" class="nav-link px-2">
        <i class="bx bx-chat fs-2"></i>
      </a>
    </div>
    <div class="d-none d-lg-flex order-lg-3">
      <a href="tel:073303 0845" class="d-flex align-items-center text-decoration-none ms-4">
        <i class="bx bx-mobile-alt fs-2 text-primary"></i>
        <div class="fs-sm text-nowrap ps-2">
          <h6 class="fs-sm mb-0">Call us</h6>
          <span class="text-nav">07 3303 0845</span>
        </div>
      </a>
      <div class="d-flex align-items-center text-decoration-none ms-4">
        <div class="fs-sm ps-2">
          <a href="https://arrowexec.membrain.com/meet/jasonhowes" class="btn btn-primary w-100"  rel="noopener">
            <i class="bx bx-envelope fs-4 lh-1 me-1"></i>
            &nbsp;Contact
          </a>
        </div>
      </div>
    </div>
    <nav id="navbarCollapse4" class="collapse navbar-collapse order-lg-2">
      <hr class="d-lg-none mt-3 mb-2">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a href="{{site.baseurl}}/job-board-recruit" class="nav-link">Live Jobs</a>
        </li>
        <li class="nav-item">
          <a href="{{site.baseurl}}/industries" class="nav-link">Industry Specialisations</a>
        </li>
        <li class="nav-item">
          <a href="{{site.baseurl}}/about-recruit" class="nav-link">About us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>