<nav class="flex-nav">
  <ul>
    <li>
      <a href="{{site.baseurl}}/north/36">NORTH</a>
    </li>
    <li class="topnavlinks">
      <a href="{{site.baseurl}}/northeast/25">NORTH EAST</a>
    </li>
    <li class="topnavlinks">
      <a href="{{site.baseurl}}/southeast/25">SOUTH EAST</a>
    </li>
    <li class="topnavlinks">
      <a href="{{site.baseurl}}/south/36">SOUTH</a>
    </li>
    <li class="topnavlinks">
      <a href="{{site.baseurl}}/southwest/25">SOUTH WEST</a>
    </li>
    <li class="topnavlinks">
      <a href="{{site.baseurl}}/northwest/25">NORTH WEST</a>
    </li>
  </ul>
</nav>