<section class="pt-5 mt-2 mt-md-4 mt-lg-5">
  <div class="container">
    <div class="row pt-xl-3">
      <div class="col-xl-6 col-md-7 offset-xl-1 pb-4 pb-sm-3 pb-lg-0 mb-4 mb-sm-5 mb-lg-5">
        <h1 class="mb-4">The Industry Leader in Candidate Assessment Tools</h1>
        <p class="fs-4 pb-lg-3 mb-4 text-dark">
          Our use of the pioneering and industry-leading candidate assessment tool OMG - <span class="strong">provides predictive recommendations based on sales-specific competencies about whether a sales candidate will succeed in a selling role. With 95% accuracy. </span>
        </p>
      </div>
      <div class="col-md-5 text-center text-md-start pb-5">
        <img src="{{site.baseurl}}/assets/img/omg/omg.png" class="d-flex mx-auto px-md-2 px-5" alt="Image" />
      </div>
    </div>
  </div>
</section>
