<!-- Page title -->
<section class="position-relative d-flex align-items-center min-vh-100 py-5 mb-5 overflow-hidden bg-gradient-hero">
  <div class="container">
    <div class="row pb-2 mb-md-2 mb-lg-4 mb-xl-5 align-items-center">
      <div class="col-lg-6">
        <h1 class="display-hero mb-0 pb-4">Uncover Sales Aces</h1>
        <h2 class="display-5 mb-0 ">Find Your Sales Champions with Our Cutting-Edge Assessment Tool</h2>
      </div>
      <div class="col-lg-6 col-xl-6">
        <img src="{{site.baseurl}}/assets/img/icons/ace.svg" class="hero-svg py-sm-5" alt="Image">
      </div>
    </div>
  </div>
</section>
