<section>
    <div class="container">
        <div class="row py-6 text-center justify-content-center align-items-center">
            <div class="col-xl-8 col-lg-10">
              <h1 class="display-5">Onboarding 4-week program</h1>
              <p class="lead mb-6 pb-5">Functional HR automation to move your business forward. Ideal for smaller HR teams.</p>
            </div>
          </div>
      <div class="row mb-4">
        <div class="col-md-3 d-flex">
          <div class="card card-body align-items-center cardstretch shadow-sm mb-5">
            <div class="pt-md-2">
              <h3>Do It Yourself</h3>
            </div>
            <div class="d-flex align-items-start pb-md-2">
              <span class="h3" style="color: white;">$</span>
              <span class="display-5 mb-0" style="color: white;">-</span>
            </div>
            <!-- Primary alert -->
            <div class="alert d-flex alert-primary strong text-center" role="alert">
                All options include OMG Sales Candidate Assessment 
            </div>
            <ul class="list-unstyled pb-md-3 mb-3 my-2 my-md-4">
                <li class="d-flex mb-2 strong">
                  You have time
                </li>
                <li class="d-flex mb-2">
                  <i class="bx bx-check fs-xl text-primary me-1"></i>
                  You are on a budget
                </li>
                <li class="d-flex mb-2">
                  <i class="bx bx-check fs-xl text-primary me-1"></i>
                  1 day accredited workshop to recruit like an expert*
                </li>
                <li class="d-flex mb-2">
                  <i class="bx bx-check fs-xl text-primary me-1"></i>
                  6-month performance guarantee*
                </li>
              </ul>
            <a href="{{site.baseurl}}/contact" class="btn btn-primary mt-auto rounded-pill">
  Get Started
</a>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="card card-body align-items-center cardstretch shadow-sm mb-5">
            <div class="pt-md-2">
              <h3>Basic</h3>
            </div>
            <div class="d-flex align-items-start pb-md-2">
              <span class="h3" style="color: white;">$</span>
              <span class="display-5 mb-0" style="color: white;">-</span>
            </div>
            <!-- Primary alert -->
            <div class="alert d-flex alert-primary strong text-center" role="alert">
              All options include OMG Sales Candidate Assessment 
          </div>
                      <ul class="list-unstyled pb-md-3 mb-3 my-2 my-md-4">
                <li class="d-flex mb-2 strong">
                  You have limited time
                </li>
                <li class="d-flex mb-2">
                  <i class="bx bx-check fs-xl text-primary me-1"></i>
                  Reduce costs
                </li>
                <li class="d-flex mb-2">
                  <i class="bx bx-check fs-xl text-primary me-1"></i>
                  New job advert
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    1 x Seek Premium Advert valued at $1000
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    Publish on LinkedIn, Instagram and Arrow website
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    Candidate management and screening
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    Results consultation for assessments
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    1st interview recorded 
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    6-month performance guarantee
                </li>
              </ul>
            <a href="{{site.baseurl}}/contact" class="btn btn-primary mt-auto rounded-pill">
  Get Started
</a>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="card card-body align-items-center flex-column shadow-sm mb-5">
            <span class="badge badge-top bg-dark">Best Value</span>
            <div class="pt-md-2">
              <h3>Professional</h3>
            </div>
            <div class="d-flex align-items-start pb-md-2">
              <span class="h3" style="color: white;">$</span>
              <span class="display-5 mb-0" style="color: white;">-</span>
            </div>
            <!-- Primary alert -->
            <div class="alert d-flex alert-primary strong text-center" role="alert">
              All options include OMG Sales Candidate Assessment 
          </div>
            <ul class="list-unstyled pb-md-3 mb-3 my-2 my-md-4">
                <li class="d-flex mb-2 strong">
                  Everything in Basic plus:
                </li>
                <li class="d-flex mb-2">
                  <i class="bx bx-check fs-xl text-primary me-1"></i>
                  You don’t have time 
                </li>
                <li class="d-flex mb-2">
                  <i class="bx bx-check fs-xl text-primary me-1"></i>
                  Arrow takes full control
                </li>
                <li class="d-flex mb-2">
                  <i class="bx bx-check fs-xl text-primary me-1"></i>
                  Renumeration & Incentives 
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    Head hunting 
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    2nd interview with client 
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    Package negotiation
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    Reference checks
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    Access to Arrow Coaching Hotline during probation
                </li>
              </ul>
            <a href="{{site.baseurl}}/contact" class="btn btn-primary mt-auto rounded-pill">
  Get Started
</a>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="card card-body align-items-center bg-dark text-light flex-column shadow-sm mb-5">
            <span class="badge badge-top bg-primary text-dark">Limited Time Offer</span>
            <div class="pt-md-2">
              <h2 class="text-primary">Onboarding</h2>
            </div>
            <!-- <div class="d-flex align-items-start pb-md-2">
              <span class="h3 text-light">$</span>
              <span class="display-5 mb-0">2,995</span>
            </div> -->
            <span class="text-small text-center">Valued at <br> $2,995 +GST</span>
            <ul class="list-unstyled pb-md-3 mb-3 my-2 my-md-4">
                <li class="d-flex mb-2 strong ">
                    Everything in Professional plus:
                  </li>
                <li class="d-flex mb-2">
                  <i class="bx bx-check fs-xl text-primary me-1"></i>
                  Arrow can ramp up your new team member 
                </li>
                <li class="d-flex mb-2">
                  <i class="bx bx-check fs-xl text-primary me-1"></i>
                  4 x 1 hour coaching sessions with Jason Howes
                </li>
                <li class="d-flex mb-2">
                  <i class="bx bx-check fs-xl text-primary me-1"></i>
                  Review assessment results 
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    Develop action plan | Key areas for improvement
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    Arrow onboarding program
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    Review systems and processes 
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    Develop leading KPIs 
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    Mentoring for 1st month
                </li>
                <li class="d-flex mb-2">
                    <i class="bx bx-check fs-xl text-primary me-1"></i>
                    3-6 month review on performance
                </li>
              </ul>
            <a href="{{site.baseurl}}/contact" class="btn btn-primary text-dark mt-auto rounded-pill">
  Get Started
</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <span>Interested in a custom plan? <a href="{{site.baseurl}}/contact">Get in touch</a>
          </span>
        </div>
      </div>
    </div>
  </section>
      