<!-- The Arrow Difference -->
<section class="mb-5 pb-lg-5 pb-md-4 pb-3 bg-secondary py-5">
  <div class="container">
    <h2 class="h1 text-center pt-1 pt-xl-3 mb-lg-4">We evaluate using three Core Competencies Groups</h2>
    <div class="swiper mx-n2" data-swiper-options='{
      "slidesPerView": 1,
      "spaceBetween": 8,
      "pagination": {
        "el": ".swiper-pagination",
        "clickable": true
      },
      "breakpoints": {
        "500": {
          "slidesPerView": 2
        },
        "800": {
          "slidesPerView": 3
        },
        "1200": {
          "slidesPerView": 3
        }
      }
    }'>
      <div class="swiper-wrapper">

        <!-- Item -->
        <div class="swiper-slide h-auto py-3 text-center">
          <div class="card h-100 card-body card-hover shadow mx-2">
            <img src="{{site.baseurl}}/assets/img/icons/confidence.svg" class="d-block mb-3 mx-auto" width="80" alt="confidence" />
            <h3 class="h5 pt-3 pb-1 mb-2">Will to Sell </h3>
            <p class="mb-0 fs-5">Measures an individual's sales-specific drive to succeed.
                </p>
          </div>
        </div>

        <!-- Item -->
        <div class="swiper-slide h-auto py-3 text-center">
          <div class="card h-100 card-body card-hover shadow mx-2">
            <img src="{{site.baseurl}}/assets/img/icons/science.svg" class="d-block mb-3 mx-auto" width="80" alt="Sales DNA" />
            <h3 class="h5 pt-3 pb-1 mb-2">Sales DNA</h3>
            <p class="mb-0 fs-5">Measures the core underlying beliefs and actions that either support or limit sales success.</p>
          </div>
        </div>

        <!-- Item -->
        <div class="swiper-slide h-auto py-3 text-center">
          <div class="card h-100 card-body card-hover shadow mx-2">
            <img src="{{site.baseurl}}/assets/img/icons/action-plan.svg" class="d-block mb-3 mx-auto" width="80" alt="action-plan" />
            <h3 class="h5 pt-3 pb-1 mb-2">Tactical Competencies</h3>
            <p class="mb-0 fs-5">Measures skills and abilities necessary throughout the sales lifecycle.</p>
          </div>
        </div>


      <!-- Pagination (bullets) -->
      <div class="swiper-pagination position-relative d-xl-none pt-3 mt-4"></div>
    </div>
  </div>
  </section>