
<section class="mb-5 pb-lg-5 pb-md-4 pb-3 bg-secondary">
  <div class="container">
    <h2 class="h1 text-center pt-1 pt-xl-3 mb-lg-4">The Arrow Difference</h2>
    <div class="swiper mx-n2" data-swiper-options='{
      "slidesPerView": 1,
      "spaceBetween": 8,
      "pagination": {
        "el": ".swiper-pagination",
        "clickable": true
      },
      "breakpoints": {
        "500": {
          "slidesPerView": 2
        },
        "800": {
          "slidesPerView": 3
        },
        "1200": {
          "slidesPerView": 3
        }
      }
    }'>
      <div class="swiper-wrapper">

        <!-- Item -->
        <div class="swiper-slide h-auto py-3 text-center">
          <div class="card h-100 card-body card-hover mx-2">
            <img src="{{site.baseurl}}/assets/img/icons/account.svg" class="d-block mb-3 mx-auto" width="80" alt="account" />
            <h3 class="h5 pt-3 pb-1 mb-2">Identifying the Top-Tier Candidates</h3>
            <p class="mb-0">At Arrow Executive Sales, we specialise in executive search and recruitment services. With our expertise, we help you find top-tier candidates across various industries and sectors, ensuring your organization's success.
                </p>
          </div>
        </div>

        <!-- Item -->
        <div class="swiper-slide h-auto py-3 text-center">
          <div class="card h-100 card-body card-hover mx-2">
            <img src="{{site.baseurl}}/assets/img/icons/strategic-analysis.svg" class="d-block mb-3 mx-auto" width="80" alt="strategic-analysis" />
            <h3 class="h5 pt-3 pb-1 mb-2">Innovative Talent Acquisition Strategies</h3>
            <p class="mb-0">In today's evolving landscape, traditional recruitment methods fall short. To attract and retain top talent, organizations must embrace innovative strategies. This includes leveraging technology, social media, and networking, while adopting a proactive and targeted approach to talent acquisition.</p>
          </div>
        </div>

        <!-- Item -->
        <div class="swiper-slide h-auto py-3 text-center">
          <div class="card h-100 card-body card-hover mx-2">
            <img src="{{site.baseurl}}/assets/img/icons/process-circle.svg" class="d-block mb-3 mx-auto" width="80" alt="process-circle" />
            <h3 class="h5 pt-3 pb-1 mb-2">Streamlining Recruitment for Business Leaders            </h3>
            <p class="mb-0">We understand that business leaders have numerous responsibilities. That's why we offer to handle the recruitment process, freeing up your time and allowing you to focus on other critical aspects of your business.</p>
          </div>
        </div>


      <!-- Pagination (bullets) -->
      <div class="swiper-pagination position-relative d-xl-none pt-3 mt-4"></div>
    </div>
  </div>
  </section>