<!-- Sales Enablement CRM -->
<section class="container pb-5 mb-md-2 mb-lg-4 mb-xl-5">
  <div class="row align-items-center pt-2 pb-3">

        <!-- Parallax gfx -->
        <div class="col-md-6 ">
          <div class="mx-auto">
            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe src=https://fast.wistia.net/embed/iframe/r6u41ylx3c?seo=false&videoFoam=true title="Membrain GO - Launch trailer Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" msallowfullscreen width="100%" height="100%"></iframe></div></div>
            <script src=https://fast.wistia.net/assets/external/E-v1.js async></script>
          </div>
        </div>
    <!-- Text -->
    <div class="col-md-6 offset-xl-1 col-xl-5 text-center text-md-start mb-5 mb-md-0">
      <h2 class="h1 pb-2 pb-lg-3">Sales Enablement CRM</h2>
      <p class="">We partner with B2B companies to support and help their salespeople sell more effectively, advancing opportunities through the pipeline and developing a higher win rate in less time.  </p>
      <p class="pb-2 mb-4 mb-lg-5">We’ve partnered with Membrain to provide you with a complete Sales Enablement CRM to execute and optimise your sales strategy to gain a competitive advantage.</p>
      <div class="d-flex justify-content-center justify-content-md-start pb-2 pt-lg-2 pt-xl-0">
        <a href="{{site.baseurl}}/crm/sales-enablement" class="btn btn-lg btn-outline-secondary shadow-primary me-3 me-sm-4">I need Sales Enablement <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i></a>
      </div>
    </div>


  </div>
</section>