<section class="container pt-5 mt-2 mt-md-4 mt-lg-5 py-5 my-5" id="case-study">
  <div class="container">
    <h1 class=" display-2 text-center py-5">Videos</h1>

    <div class="row">
      <!-- <h1 class=" display-5 text-center pt-4">Managing Key Accounts</h1>
      <h3 class="text-center">Are Your Long-Term Clients Safe Once The Market conditions Return To Normal?</h3> -->
      <iframe class="youtube-video" src=https://www.youtube.com/embed/vA-jCVf17kk title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>
    <div class="row pt-5">
      <!-- <h1 class=" display-5 text-center pt-5">Elevate Your Prospecting Game and Boost Your Sales Results</h1> -->
      <iframe class="youtube-video" src=https://www.youtube.com/embed/7v5599Izexc title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="row pt-5">
      <!-- <h1 class=" display-5 text-center pt-5">Invest in Sales Team Training and see Results</h1> -->
      <iframe class="youtube-video" src=https://www.youtube.com/embed/XsVmliR1VU4 title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="row pt-5">
      <!-- <h1 class=" display-5 text-center pt-5">The Changing Landscape of Sales</h1> -->
      <iframe class="youtube-video" src=https://www.youtube.com/embed/-v976A2Ne8o title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</section>
