<section class="container pt-5 mt-2 mt-md-4 mt-lg-5 py-5 my-5" id="case-study">
  <div class="container">
    <h1 class=" display-2 text-center py-5">Videos</h1>

    <div class="row">
      <h1 class=" display-5 text-center pt-4">Managing Key Accounts</h1>
      <h3 class="text-center">Are Your Long-Term Clients Safe Once The Market conditions Return To Normal?</h3>
      <script src="https://fast.wistia.com/embed/medias/aqgv9gf2eu.jsonp" async></script>
      <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
      <div class="wistia_responsive_padding" style="padding:65.83% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe src="https://fast.wistia.net/embed/iframe/81y8zzm26k?seo=false&videoFoam=true" title=" Managing Key Accounts: Are Your Long-Term Clients Safe Once The Market conditions Return To Normal? [Replaced on February 24, 2023] Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" msallowfullscreen width="100%" height="100%"></iframe></div></div>
      <script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>
    </div>
    <div class="row pt-5">
      <h1 class=" display-5 text-center pt-5">Elevate Your Prospecting Game and Boost Your Sales Results</h1>
      <div class="wistia_responsive_padding" style="padding:60.21% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe src="https://fast.wistia.net/embed/iframe/auokburmsc?seo=false&videoFoam=true" title="Elevate Your Prospecting Game and Boost Your Sales Results Video" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" msallowfullscreen width="100%" height="100%"></iframe></div></div>
      <script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>
    </div>
  </div>
</section>
