      <!-- Page content -->
      <section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">

        <!-- Page title + Layout switcher + Search form -->
        <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
          <div class="col-lg-5 col-md-4">
            <h1 class="mb-2 mb-md-0">Webinars</h1>
          </div>

        </div>

        <!-- Blog grid -->
        <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-md-4 gy-2">


          <!-- Sales recruitment masterclass-->
          <div class="col pb-3">
            <article class="card border-0 shadow-sm h-100">
              <div class="position-relative">
                <a href="blog-single.html" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                <img src="/assets/img/webinars/recruitlikeapro.jpg" class="card-img-top" alt="Image">
              </div>
              <div class="card-body pb-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Recruitment</a>
                  <span class="fs-sm">Wednesday, 28 February 2024</span>
                </div>
                <h3 class="h5 mb-2">
                  Sales Recruitment Masterclass
                </h3>
                <p class="fs-sm mb-2">Hire for performance, not just experience!
                    Learn how to hire salespeople based on their potential to perform, not just their past industry experience, in our online Sales Recruitment</p>
              </div>
              <div class="card-footer py-4">
                <button id="eventbrite-widget-modal-trigger-843037657327" class="btn btn-primary rounded-pill" type="button">Buy Tickets</button>
              </div>
            </article>
          </div>
          <!-- Sales coaching webinar-->
          <div class="col pb-3">
            <article class="card border-0 shadow-sm h-100">
                <div class="position-relative">
                    <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></span>
                    <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-0 w-100 h-100 zindex-2">
                      <a href="https://www.youtube.com/embed/uLe_sHYlFnA?si=yuSaM0yaFcIxafBL" class="btn btn-video btn-icon bg-white stretched-link" data-bs-toggle="video" aria-label="Play video">
                        <i class="bx bx-play"></i>
                      </a>
                    </div>
                    <img src="/assets/img/webinars/impact_coaching.jpg" class="card-img-top" alt="Card image">
                </div>
              <div class="card-body pb-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Sales Coaching</a>
                  <span class="fs-sm">23 November 2023</span>
                </div>
                <h3 class="h5 mb-2">
                  Boost your bottom line with High Impact Sales Coaching 
                </h3>
                <p class="fs-sm mb-2">In an era where the pressure to boost efficiency and revenue while simultaneously trimming costs is more intense than ever, Sales leaders find themselves wrestling with a critical question: How can we maximize the outcomes from our existing sales team?</p>
              </div>

              <!-- Play button with label -->
                <div class="d-flex align-items-center card-footer py-4">
                    <a href="https://www.youtube.com/embed/uLe_sHYlFnA?si=yuSaM0yaFcIxafBL" class="btn btn-outline-dark rounded-pill" data-bs-toggle="video" aria-label="Play video">
                        Click to watch video! 
                        <i class="bx bx-play"></i>
                    </a>
                </div>
            </article>
          </div>          
          <!-- Managing your strategic key accounts for growth-->
          <div class="col pb-3">
            <article class="card border-0 shadow-sm h-100">
                <div class="position-relative">
                    <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></span>
                    <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-0 w-100 h-100 zindex-2">
                      <a href="https://www.youtube.com/embed/DSSpq3JfUwc" class="btn btn-video btn-icon bg-white stretched-link" data-bs-toggle="video" aria-label="Play video">
                        <i class="bx bx-play"></i>
                      </a>
                    </div>
                    <img src="/assets/img/webinars/key_accounts_for_growth.jpg" class="card-img-top" alt="Card image">
                </div>
              <div class="card-body pb-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Accounts</a>
                  <span class="fs-sm">9 October 2023</span>
                </div>
                <h3 class="h5 mb-2">
                  Managing your strategic key accounts for growth
                </h3>
                <p class="fs-sm mb-2">Are your long-term clients safe once market conditions return to normal after Covid? In this webinar, we discuss in more detail potential roadblocks and strategies that we use to ensure your sales team is managing, growing and protecting your strategic accounts.</p>
              </div>

              <!-- Play button with label -->
                <div class="d-flex align-items-center card-footer py-4">
                    <a href="https://www.youtube.com/embed/DSSpq3JfUwc" class="btn btn-outline-dark rounded-pill" data-bs-toggle="video" aria-label="Play video">
                        Click to watch video! 
                        <i class="bx bx-play"></i>
                    </a>
                </div>
            </article>
          </div>
          <!-- Aligning sales & marketing-->
          <div class="col pb-3">
            <article class="card border-0 shadow-sm h-100">
                <div class="position-relative">
                    <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></span>
                    <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-0 w-100 h-100 zindex-2">
                      <a href="https://www.youtube.com/embed/CUsa3A4USWE" class="btn btn-video btn-icon bg-white stretched-link" data-bs-toggle="video" aria-label="Play video">
                        <i class="bx bx-play"></i>
                      </a>
                    </div>
                    <img src="/assets/img/webinars/align_sales_marketing.jpg" class="card-img-top" alt="Card image">
                </div>
              <div class="card-body pb-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Sales & Marketing</a>
                  <span class="fs-sm">9 October 2023</span>
                </div>
                <h3 class="h5 mb-2">
                    Aligning Sales & Marketing
                </h3>
                <p class="fs-sm mb-2">Are you tired of the chaos? The marketing team is spinning one way, while sales are zigzagging in another. It's like a bad dance, and your business is footing the bill. But what if I told you there's a way to bring perfect harmony to this marketing-sales tango?</p>
              </div>

              <!-- Play button with label -->
                <div class="d-flex align-items-center card-footer py-4">
                    <a href="https://www.youtube.com/embed/CUsa3A4USWE" class="btn btn-outline-dark rounded-pill" data-bs-toggle="video" aria-label="Play video">
                        Click to watch video! 
                        <i class="bx bx-play"></i>
                    </a>
                </div>
            </article>
          </div>
          <!-- Transform qualified leads into Profitable Sales-->
          <div class="col pb-3">
            <article class="card border-0 shadow-sm h-100">
                <div class="position-relative">
                    <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></span>
                    <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-0 w-100 h-100 zindex-2">
                      <a href="https://www.youtube.com/embed/N9O8bAlgwPA" class="btn btn-video btn-icon bg-white stretched-link" data-bs-toggle="video" aria-label="Play video">
                        <i class="bx bx-play"></i>
                      </a>
                    </div>
                    <img src="/assets/img/webinars/transform_leads.jpg" class="card-img-top" alt="Card image">
                </div>
              <div class="card-body pb-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Accounts</a>
                  <span class="fs-sm">5 October 2023</span>
                </div>
                <h3 class="h5 mb-2">
                    Transform Qualified Leads into Profitable Sales
                </h3>
                <p class="fs-sm mb-2">This webinar dives deep into sales process, CRM, and automation to help salespeople get opportunities that are stuck moving again. It's common that prospects are not qualified early on, leading to bloated pipelines with poor forecasting. Check this one out if you're not closing your deals or struggling to get an answer!</p>
              </div>

              <!-- Play button with label -->
                <div class="d-flex align-items-center card-footer py-4">
                    <a href="https://www.youtube.com/embed/N9O8bAlgwPA" class="btn btn-outline-dark rounded-pill" data-bs-toggle="video" aria-label="Play video">
                        Click to watch video! 
                        <i class="bx bx-play"></i>
                    </a>
                </div>
            </article>
          </div>



        </div>

        <!-- Pagination -->
        <!-- <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center pt-md-4 pt-2">
            <li class="page-item">
              <a href="#" class="page-link" aria-label="Previous page">
                <i class="bx bx-chevron-left mx-n1"></i>
              </a>
            </li>
            <li class="page-item disabled d-sm-none">
              <span class="page-link text-body">2 / 4</span>
            </li>
            <li class="page-item d-none d-sm-block">
              <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item active d-none d-sm-block" aria-current="page">
              <span class="page-link">
                2
                <span class="visually-hidden">(current)</span>
              </span>
            </li>
            <li class="page-item d-none d-sm-block">
              <a href="#" class="page-link">3</a>
            </li>
            <li class="page-item d-none d-sm-block">
              <a href="#" class="page-link">4</a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link" aria-label="Next page">
                <i class="bx bx-chevron-right mx-n1"></i>
              </a>
            </li>
          </ul>
        </nav> -->
      </section>

