<!-- Why-us -->
      <section class="container py-5 mx-auto my-2 my-md-4 my-lg-5">
        <h2 class="display-3 text-center pt-1 pt-xl-2 mb-4">Why Choose Us?</h2>
        <p class="fs-5 text-center pb-4 mb-2 mx-5 mb-lg-3">Our team of experienced recruitment professionals has a proven track record of delivering exceptional results for our clients. We work closely with you to understand your specific requirements, culture, and values, enabling us to identify candidates who are the perfect fit for your organization.</p>
        <div class="row row-cols-1 row-cols-lg-3 g-4 pb-xl-3">
          <div class="col text-center border-end px-5">
            <div class="card d-table border-0 p-3 mx-auto">
              <img src="{{site.baseurl}}/assets/img/icons/filter.svg" width="100" alt="Sales Culture Icon">
            </div>
            <h3 class="h5 mb-2 mb-lg-0">We identify the perfect candidates 
            </h3>
          </div>
          <div class="col text-center border-end px-5">
            <div class="card d-table border-0 p-3 mx-auto">
              <img src="{{site.baseurl}}/assets/img/icons/link.svg" width="100" alt="Sales Team Growth Icon">
            </div>
            <h3 class="h5 mb-2 mb-lg-0">We work closely with you</h3>
          </div>
          <div class="col text-center px-5">
            <div class="card d-table border-0 p-3 mx-auto">
              <img src="{{site.baseurl}}/assets/img/icons/no1_1.svg" width="100" alt="More Clients Icon">
            </div>
            <h3 class="h5 mb-2 mb-lg-0">We have a proven track record
            </h3>
          </div>
        </div>
        <div class="row text-center py-5">
          <div class="col">
            <a href="{{site.baseurl}}/about-recruit" class="btn btn-lg btn-dark">More about us</a>
          </div>
        </div>
      </section>