<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <!-- Body -->
  <body style="background-color:#f6ebe5">
    <!-- Page loading spinner -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>

    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">

      {{ content }} 

    </main>


    {% include scripts.html %}

  </body>
</html>
