<!DOCTYPE html>
<html lang="en">
  {% include headview.html %}
  <body>
    {% include navtop.html %}
    {% include nav2.html %}

    {% for item in site.data.info.ne %}
    {%- if page.url == item.link -%}
      <div class="horizontal-slider scrollable-content">
      <img src="{{site.baseurl}}/{{item.img}}" />
      </div>
      {% endif %}
    {% endfor %}


    <script
      src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
      integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
    <script>
      gsap.registerPlugin(ScrollTrigger);

      var sliderImages = gsap.utils.toArray(".horizontal-slider img");

      var getTotalWidth = () => {
        totalWidth = 0;
        sliderImages.forEach((image) => {
          totalWidth += image.offsetWidth;
        });
      };

      getTotalWidth();
      ScrollTrigger.addEventListener("refreshInit", getTotalWidth);

      gsap.to(sliderImages, {
        scrollTrigger: {
          trigger: ".horizontal-slider",
          start: "top top",
          end: () => `+=${totalWidth}`,
          pin: true,
          scrub: true,
          invalidateOnRefresh: true,
        },
        x: () => `-${totalWidth - document.documentElement.clientWidth}`,
      });
    </script>
<!-- RESIZE ON REFRESH -->
    <script>
      $(window).bind("resize", function () {
        window.location.href = window.location.href;
      });
    </script>
<!-- CHECK FOR ACTIVE -->
    <!-- <script>
      const navLinkEls = document.querySelectorAll(".menu__item");
      navLinkEls.forEach((navLinkEl) => {
        navLinkEl.addEventListener("click", () => {
          document.querySelector(".active")?.classList.remove("active");
          navLinkEl.classList.add("active");
        });
      });
    </script> -->

  </body>
</html>